In [1]:
import pandas as pd

In [2]:
national_claims = pd.read_csv('https://query.data.world/s/dyycbtim2ehbfsdf4fdli2tu3byie2')

In [3]:
national_claims.head()

,date,claims,claims_sa,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_sa,pct_lastyear_sa,...,cont_claims_sa,cont_claims_ma,insured_unemployed_rate,insured_unemployed_rate_sa,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_sa,cont_claims_pct_lastyear_sa,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,2000-01-01,439912,286000,278250,0.36,123830071,16.5,-13.6,6.7,-13.6,...,2102000.0,2099250.0,2.23,1.70,22.9,-9.9,0.0,-8.7,0.1,-6.1
1,2000-01-08,606897,298000,284750,0.49,123830071,38.0,-15.0,4.2,-13.6,...,2107000.0,2108500.0,2.17,1.70,-2.7,-7.1,0.2,-8.0,0.4,-6.6
2,2000-01-15,442494,289000,285250,0.36,123830071,-27.1,-13.9,-3.0,-14.7,...,2115000.0,2106500.0,2.09,1.71,-3.6,-9.6,0.4,-8.7,-0.1,-8.2
3,2000-01-22,328841,284000,289250,0.27,123830071,-25.7,-9.8,-1.7,-8.7,...,2061000.0,2096250.0,2.06,1.66,-1.6,-9.2,-2.6,-9.2,-0.5,-8.6
4,2000-01-29,332740,285000,289000,0.27,123830071,1.2,-4.9,0.4,-6.6,...,2164000.0,2111750.0,2.16,1.75,5.1,-5.4,5.0,-4.2,0.7,-7.5

In [4]:
state_claims = pd.read_csv('https://query.data.world/s/nqhhiw2bajd5qmf6elkq3dm3dnge43')

In [5]:
state_claims.head()

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,Alabama,2000-01-01,10099,6102.50,0.56,1806088,178.4,2.0,7.5,NaN,33472.0,28472.50,1.85,31.0,-8.1,2.5,NaN
1,Alaska,2000-01-01,1757,1928.50,0.70,250936,-3.5,-21.4,-4.4,NaN,14064.0,13728.00,5.60,6.4,-6.4,-0.1,NaN
2,Arkansas,2000-01-01,7181,5161.25,0.67,1072034,27.8,-24.2,4.6,NaN,27622.0,25186.00,2.58,17.4,-26.1,1.6,NaN
3,Arizona,2000-01-01,2237,2666.25,0.11,2046519,0.0,45.8,-5.8,NaN,16992.0,16866.25,0.83,0.0,-2.1,-0.4,NaN
4,California,2000-01-01,37401,46086.00,0.27,13844545,-23.4,-20.9,-11.0,NaN,342787.0,375463.50,2.48,-10.5,-11.8,-2.8,NaN

In [6]:
missouri_claims = pd.read_csv('https://download.data.world/s/xjccdccxnkpwxlzyjru77kknt747lr')

In [7]:
missouri_claims.head()

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,Missouri,2000-01-01,10649,9507.25,0.42,2558583,-7.1,-20.1,9.0,NaN,47244.0,40440.50,1.85,23.6,-8.5,6.4,NaN
1,Missouri,2000-01-08,13511,11146.75,0.53,2567623,26.9,-17.5,17.2,NaN,59180.0,45710.75,2.30,25.3,-7.4,13.0,NaN
2,Missouri,2000-01-15,9234,11213.25,0.36,2567623,-31.7,-33.1,0.6,NaN,56475.0,50283.00,2.20,-4.6,-10.1,10.0,NaN
3,Missouri,2000-01-22,6248,9910.50,0.24,2567623,-32.3,-10.8,-11.6,-21.5,50734.0,53408.25,1.98,-10.2,-13.4,6.2,-9.8
4,Missouri,2000-01-29,8162,9288.75,0.32,2567623,30.6,29.8,-6.3,-14.5,54000.0,55097.25,2.10,6.4,-10.0,3.2,-10.2

In [8]:
state_funds = pd.read_csv('https://query.data.world/s/vbjpqttbhplufeb35bt4oedqfur74p')

In [9]:
state_funds.head()

,state,fund_balance,reserve_ratio,solvency_level,last_year_hcm_achieved
0,Alaska,500977665,3.79,1.68,2019
1,Alabama,704456280,0.92,1.00,2019
2,Arkansas,846046865,1.94,1.31,2019
3,Arizona,1097519502,0.87,0.92,2008
4,California,3260789629,0.32,0.21,1990

## State with the most claims since 2000?

Missouri is 15th

In [10]:
state_claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56127 entries, 0 to 56126
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          56127 non-null  object
 1   date                           56127 non-null  object
 2   claims                         56127 non-null  int64
 3   claims_ma                      56127 non-null  float64
 4   insured_newly_unemployed_rate  56127 non-null  float64
 5   covered_employment             56127 non-null  int64
 6   pct_lastweek                   56127 non-null  float64
 7   pct_lastyear                   56074 non-null  float64
 8   pct_lastweek_ma                56127 non-null  float64
 9   pct_lastyear_ma                55915 non-null  float64
 10  cont_claims                    56074 non-null  float64
 11  cont_claims_ma                 56074 non-null  float64
 12  insured_unemployed_rate        56074 non-null  float64
 13  cont_claims_pct_lastweek       56074 non-null  float64
 14  cont_claims_pct_lastyear       56021 non-null  float64
 15  cont_claims_pct_lastweek_ma    56074 non-null  float64
 16  cont_claims_pct_lastyear_ma    55862 non-null  float64
dtypes: float64(13), int64(2), object(2)
memory usage: 7.3+ MB

In [11]:
state_claims.claims_ma.sum()

375409400.0

In [12]:
state_claims.groupby('state').claims.sum().reset_index().sort_values('claims', ascending=False)

                   state    claims
4             California  57872216
38          Pennsylvania  24607997
32              New York  23942306
44                 Texas  18835989
22              Michigan  16853352
13              Illinois  15364013
35                  Ohio  13739584
9                Florida  13281278
33        North Carolina  13079215
51             Wisconsin  12372686
30            New Jersey  12244406
10               Georgia  11626472
49            Washington  10619756
21         Massachusetts   8676314
25              Missouri   7896102
37                Oregon   7633707
14               Indiana   7500938
43             Tennessee   6947674
48              Virginia   6296335
23             Minnesota   6090073
41        South Carolina   6077074
17              Kentucky   6028773
0                Alabama   5665036
20              Maryland   5395521
2                Arizona   5324272
6            Connecticut   4816938
18             Louisiana   4097395
3               Arkansas   4068914
15                  Iowa   4037066
28                Nevada   3913264
39           Puerto Rico   3378746
5               Colorado   3345427
16                Kansas   3248472
24           Mississippi   3092440
36              Oklahoma   2647562
12                 Idaho   2317093
45                  Utah   1879928
1                 Alaska   1820496
11                Hawaii   1779382
40          Rhode Island   1769297
50         West Virginia   1675148
27              Nebraska   1581170
19                 Maine   1520780
31            New Mexico   1428215
26               Montana   1351000
29         New Hampshire   1225034
7               Delaware   1137515
46               Vermont    898009
34          North Dakota    637183
8   District of Columbia    562073
52               Wyoming    544517
42          South Dakota    417121
47        Virgin Islands     59012

## State with the most claims on the week ending 2020-04-04?

California. Missouri is 25th.

In [13]:
state_claims[
    state_claims['date'] == '2020-04-04'
].sort_values(
    'claims', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
56025,California,2020-04-04,918814,555269.50,5.32,17265039,-13.2,2436.3,65.1,1326.4,1076761.0,562645.50,6.24,168.8,188.0,44.9,50.1
56031,Georgia,2020-04-04,390132,135384.25,8.92,4373059,191.5,8304.4,247.2,3015.5,360077.0,130203.25,8.23,233.8,1464.2,180.3,445.0
56043,Michigan,2020-04-04,388554,206558.25,9.03,4302198,27.7,5714.9,86.6,3749.7,366426.0,151360.25,8.52,315.5,413.4,91.2,104.0
56055,New York,2020-04-04,344451,201329.25,3.67,9380736,-6.0,2633.1,69.6,1472.5,712544.0,338184.00,7.60,126.4,408.9,68.7,126.5
56065,Texas,2020-04-04,315167,190738.50,2.58,12236594,14.1,2307.1,65.1,1384.9,374656.0,193421.25,3.06,158.9,235.4,47.6,69.4
56059,Pennsylvania,2020-04-04,277640,268801.75,4.79,5800562,-31.4,2395.2,32.8,2206.2,566464.0,239760.75,9.77,317.4,383.6,81.1,92.1
56056,Ohio,2020-04-04,226191,175958.50,4.24,5338723,-17.5,3663.0,45.4,2756.7,450061.0,200293.25,8.43,110.0,655.3,88.9,215.4
56052,New Jersey,2020-04-04,214836,136592.75,5.35,4015146,4.2,2687.5,60.9,1724.9,276119.0,160605.75,6.88,76.8,188.2,35.5,57.7
56034,Illinois,2020-04-04,201041,126111.50,3.40,5910898,12.7,2165.0,61.6,1382.5,263057.0,162733.25,4.45,99.1,120.8,24.2,31.4
56070,Washington,2020-04-04,171252,124562.50,5.14,3333838,-6.3,2618.7,49.3,2070.0,309411.0,146411.75,9.28,95.8,477.0,76.0,151.9
56030,Florida,2020-04-04,169885,119786.25,1.97,8604277,-25.6,2553.6,52.3,1996.0,98921.0,49992.25,1.15,182.0,197.5,50.0,45.4
56069,Virginia,2020-04-04,147369,77212.25,3.95,3731069,31.0,6738.5,88.3,3499.6,133184.0,54493.75,3.57,218.4,569.6,102.8,159.5
56042,Massachusetts,2020-04-04,139647,119242.75,3.93,3557761,-23.0,3150.6,39.5,2762.6,310211.0,162694.75,8.72,69.4,337.0,56.4,112.3
56048,North Carolina,2020-04-04,137422,101795.75,3.14,4381417,-20.2,4277.9,49.5,3479.6,245692.0,90311.75,5.61,226.6,1164.6,166.1,364.1
56024,Arizona,2020-04-04,132428,63640.00,4.62,2864180,48.9,2533.3,102.9,1536.1,62597.0,31171.75,2.19,137.2,233.8,56.5,64.2
56035,Indiana,2020-04-04,127010,82133.75,4.18,3039304,-8.7,4080.7,61.2,3460.2,71737.0,35743.75,2.36,147.5,282.4,52.4,85.2
56038,Kentucky,2020-04-04,117575,70633.00,6.22,1890475,3.9,4138.5,68.8,3037.8,130151.0,49945.00,6.88,434.3,619.6,116.2,159.6
56064,Tennessee,2020-04-04,112186,61366.25,3.44,3263988,21.3,2498.1,81.4,2049.8,116179.0,47630.00,3.56,209.5,592.3,104.0,171.2
56044,Minnesota,2020-04-04,110260,84784.50,3.86,2859937,1.1,3415.9,45.9,2560.7,248023.0,134366.00,8.67,54.2,354.6,52.6,137.5
56041,Maryland,2020-04-04,109496,60414.50,4.29,2549408,28.3,4311.6,79.2,2225.0,92112.0,48399.50,3.61,92.0,246.8,49.4,69.4
56021,Alabama,2020-04-04,106739,50108.50,5.55,1923741,31.8,3592.1,110.2,2007.6,52176.0,23954.00,2.71,188.5,257.8,67.2,67.1
56072,Wisconsin,2020-04-04,104823,67994.50,3.68,2851929,-5.5,1848.0,57.9,1110.2,208387.0,98076.50,7.31,109.3,444.0,73.4,138.3
56039,Louisiana,2020-04-04,100621,68178.50,5.32,1892522,3.3,5976.1,56.9,4030.8,116690.0,50711.75,6.17,101.1,753.7,102.1,260.3
56046,Missouri,2020-04-04,91458,60502.75,3.33,2749100,-12.3,3365.6,57.6,1852.5,121467.0,53714.00,4.42,145.5,490.6,81.1,131.7
56062,South Carolina,2020-04-04,86573,46741.75,4.17,2077535,30.2,4004.9,82.8,2319.7,75521.0,34001.25,3.64,148.9,437.9,79.4,138.8
56054,Nevada,2020-04-04,79285,62470.25,5.78,1371969,10.2,3848.5,44.5,2866.3,131121.0,57304.00,9.56,123.0,616.6,94.3,202.3
56060,Puerto Rico,2020-04-04,66555,33317.25,7.81,852292,46.6,5622.7,95.8,2869.5,49669.0,25710.50,5.83,158.3,219.9,43.2,65.4
56036,Iowa,2020-04-04,64194,40835.25,4.19,1530920,14.7,3506.4,61.1,1872.2,91631.0,49898.25,5.99,70.8,287.6,45.3,81.0
56058,Oregon,2020-04-04,62788,36152.25,3.29,1906429,32.2,1305.3,68.2,792.9,118729.0,60546.00,6.23,85.7,295.3,58.3,99.7
56023,Arkansas,2020-04-04,62086,25124.75,5.19,1195622,123.7,2659.4,149.6,1300.9,36499.0,18787.25,3.05,126.0,272.9,49.5,78.2
56057,Oklahoma,2020-04-04,60534,33010.00,3.87,1565634,26.8,2890.8,80.7,1556.5,55029.0,28408.25,3.51,117.8,303.2,50.2,106.8
56032,Hawaii,2020-04-04,53101,28025.75,8.54,621949,9.3,4032.4,86.0,2263.0,32123.0,13932.00,5.16,193.9,384.9,87.9,110.9
56037,Kansas,2020-04-04,49306,32238.50,3.62,1363114,-9.2,3533.5,59.2,2136.5,51425.0,22181.75,3.77,192.9,495.0,83.7,122.3
56026,Colorado,2020-04-04,46326,32564.75,1.75,2650335,-25.1,2334.4,51.8,1922.0,73584.0,34527.25,2.78,235.1,254.9,58.0,62.2
56045,Mississippi,2020-04-04,45852,21133.25,4.14,1108618,43.2,4731.6,113.7,2084.3,29373.0,13179.75,2.65,206.6,340.0,71.4,83.6
56051,New Hampshire,2020-04-04,39202,25150.25,5.99,654468,24.9,7787.7,62.5,5022.3,52166.0,21855.00,7.97,90.9,1173.0,120.0,411.0
56027,Connecticut,2020-04-04,33464,23807.75,2.02,1654391,0.7,1336.8,48.1,889.9,147939.0,78195.00,8.94,83.0,309.9,52.2,98.6
56066,Utah,2020-04-04,33040,20641.75,2.26,1459679,15.8,3120.3,63.4,2151.0,45161.0,22830.75,3.09,83.3,401.8,59.5,131.0
56040,Maine,2020-04-04,30910,19193.25,5.13,602736,30.0,4082.7,64.8,2858.5,41339.0,20115.00,6.86,88.2,443.0,68.1,146.6
56033,Idaho,2020-04-04,30904,19615.50,4.25,727996,-6.2,3270.1,61.8,1744.0,35915.0,17160.75,4.93,131.4,383.6,60.0,103.1
56061,Rhode Island,2020-04-04,28243,23249.50,5.97,472874,1.6,4121.7,42.1,3015.5,56038.0,27358.50,11.85,76.0,454.2,69.6,146.3
56050,Nebraska,2020-04-04,27054,17068.50,2.81,962725,9.4,4493.2,63.6,2364.8,38921.0,16374.25,4.04,133.9,666.5,103.7,160.8
56053,New Mexico,2020-04-04,26132,18238.75,3.27,799085,-6.2,2889.9,53.5,2166.4,44829.0,20942.50,5.61,123.2,377.3,71.7,119.9
56047,Montana,2020-04-04,21244,14543.25,4.68,454298,2.3,2774.7,54.5,1876.7,36819.0,18962.00,8.10,92.8,290.5,52.3,81.6
56028,Delaware,2020-04-04,18851,12309.00,4.25,443288,-1.5,3910.9,59.3,2612.7,19442.0,10388.75,4.39,69.0,303.8,50.6,89.7
56067,Vermont,2020-04-04,16474,8887.50,5.43,303508,12.6,3074.2,82.1,1629.1,21953.0,11364.00,7.23,59.1,369.6,58.3,128.6
56029,District of Columbia,2020-04-04,15329,11718.25,2.65,578035,-3.4,3391.8,46.4,2765.1,31385.0,15792.50,5.43,77.7,364.8,63.8,123.5
56049,North Dakota,2020-04-04,15125,8255.00,3.67,411624,28.0,5460.7,80.3,3084.2,16036.0,9272.00,3.90,87.9,219.9,34.4,65.0
56022,Alaska,2020-04-04,14590,9332.75,4.75,307329,5.9,1537.5,58.5,941.9,19845.0,12013.00,6.46,77.6,131.2,31.7,36.1
56071,West Virginia,2020-04-04,14494,8354.50,2.16,670051,-0.2,2037.8,67.5,1050.4,36690.0,21845.75,5.48,73.5,234.6,30.8,79.8
56063,South Dakota,2020-04-04,8138,4222.50,1.95,417030,19.7,5590.9,89.0,2687.1,7568.0,4162.50,1.81,113.9,183.9,37.1,37.0
56073,Wyoming,2020-04-04,6543,4277.25,2.44,268518,2.3,1802.0,54.1,1310.5,7790.0,4720.25,2.90,72.4,208.4,29.3,69.4
56068,Virgin Islands,2020-04-04,72,122.25,0.21,34238,-71.2,94.6,1.7,361.3,658.0,586.50,1.92,28.5,80.8,3.2,21.4

## What week since 2000 has the most claims? Graph it

1-3 are all the weeks involving the virus

In [14]:
state_claims.groupby('date').claims.sum().reset_index().sort_values('claims', ascending=False)

            date   claims
1057  2020-04-04  6211406
1056  2020-03-28  6015821
1058  2020-04-11  4971823
1055  2020-03-21  2920162
471   2009-01-10   956791
...          ...      ...
977   2018-09-22   172930
978   2018-09-29   171816
1024  2019-08-17   171386
975   2018-09-08   162640
1027  2019-09-07   160342

[1059 rows x 2 columns]

## What percentage of the workforce do the 2020-04-04 claims represent nationally?

4.28%

In [15]:
national_claims[
    national_claims['date'] == '2020-04-04'
]

,date,claims,claims_sa,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_sa,pct_lastyear_sa,...,cont_claims_sa,cont_claims_ma,insured_unemployed_rate,insured_unemployed_rate_sa,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_sa,cont_claims_pct_lastyear_sa,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
1057,2020-04-04,6211399,6615000,4267750,4.28,145230691,3.3,3067.9,-3.7,3158.6,...,11976000.0,6066250.0,8.63,8.25,53.4,624.0,60.8,618.4,73.4,255.6

## What is the national percentage change of new claims per week since the virus started? Graph it

In [16]:
virus_date = '2020-03-07'

In [17]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').pct_lastweek.sum().reset_index()

         date  pct_lastweek
0  2020-03-07          -7.5
1  2020-03-14          25.5
2  2020-03-21        1061.5
3  2020-03-28         106.0
4  2020-04-04           3.3
5  2020-04-11         -20.0

## What is the national percentage change from last year for the weeks of the virus? Graph it

In [18]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').pct_lastyear.sum().reset_index()

         date  pct_lastyear
0  2020-03-07          -4.3
1  2020-03-14          29.4
2  2020-03-21        1436.7
3  2020-03-28        3173.5
4  2020-04-04        3067.9
5  2020-04-11        2431.9

## What is the national total number of people on claims?

8,177,965 people. 2020-04-04 isn't updated yet and has just 0.0

In [19]:
national_claims[
    national_claims['date'] == '2020-03-28'
].groupby('date').cont_claims.sum().reset_index()

         date  cont_claims
0  2020-03-28    8168271.0

## Is that the most since 2000?

Yes by more than 1.5 million claims

In [20]:
national_claims.groupby('date').cont_claims.sum().reset_index().sort_values('cont_claims', ascending=False)

            date  cont_claims
1057  2020-04-04   12526711.0
1056  2020-03-28    8168271.0
482   2009-03-28    6451690.0
480   2009-03-14    6440135.0
484   2009-04-11    6406046.0
...          ...          ...
980   2018-10-13    1370783.0
1031  2019-10-05    1369887.0
978   2018-09-29    1369317.0
979   2018-10-06    1350834.0
1058  2020-04-11          0.0

[1059 rows x 2 columns]

## What is the national percentage change of total claims per week since the virus started?

In [21]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').cont_claims_pct_lastweek.sum().reset_index()

         date  cont_claims_pct_lastweek
0  2020-03-07                      -3.9
1  2020-03-14                       4.9
2  2020-03-21                      64.7
3  2020-03-28                     139.1
4  2020-04-04                      53.4
5  2020-04-11                       0.0

## What is the national percentage change of total claims from last year per week since the virus started?

In [22]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').cont_claims_pct_lastyear.sum().reset_index()

         date  cont_claims_pct_lastyear
0  2020-03-07                      -1.5
1  2020-03-14                       3.3
2  2020-03-21                      79.0
3  2020-03-28                     338.8
4  2020-04-04                     624.0
5  2020-04-11                       0.0

## What state has the most claims per week since the virus started?

California during the week of Mar. 28 and Apr. 4.

In [23]:
state_claims[
    state_claims['date'] >= virus_date
].sort_values(
    'claims', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
55972,California,2020-03-28,1058325,336412.25,6.13,17265039,468.0,2646.9,309.0,739.0,400565.0,388171.25,2.32,-5.1,8.7,2.0,1.6
56025,California,2020-04-04,918814,555269.50,5.32,17265039,-13.2,2436.3,65.1,1326.4,1076761.0,562645.50,6.24,168.8,188.0,44.9,50.1
56078,California,2020-04-11,660966,706109.50,3.83,17265039,-28.1,1576.3,27.2,1733.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56006,Pennsylvania,2020-03-28,404677,202448.50,6.98,5800562,7.2,3746.7,94.1,1493.6,135708.0,132377.50,2.34,6.0,15.8,0.1,1.6
56106,New York,2020-04-11,395949,296748.50,4.22,9380736,15.0,3163.9,47.4,2253.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55962,Virgin Islands,2020-03-21,123,67.00,0.36,34238,179.5,412.5,34.0,191.3,584.0,581.00,1.71,-1.4,37.1,3.4,12.6
56068,Virgin Islands,2020-04-04,72,122.25,0.21,34238,-71.2,94.6,1.7,361.3,658.0,586.50,1.92,28.5,80.8,3.2,21.4
55856,Virgin Islands,2020-03-07,64,49.00,0.19,34238,73.0,178.3,10.7,122.7,586.0,541.00,1.71,4.3,33.2,3.0,-3.0
55909,Virgin Islands,2020-03-14,44,50.00,0.13,34238,-31.2,120.0,2.0,138.1,592.0,562.00,1.73,1.0,8.4,3.9,4.8
56121,Virgin Islands,2020-04-11,3,112.00,0.01,34238,-95.8,-75.0,-8.4,357.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Rank of states based on total number of people covered by claims?

Missouri ranks 20th with 2.7 million people that are covered by UI.

In [24]:
state_claims[
    state_claims['date'] == '2020-04-11'
].sort_values(
    'covered_employment', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
56078,California,2020-04-11,660966,706109.50,3.83,17265039,-28.1,1576.3,27.2,1733.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56118,Texas,2020-04-11,273567,255086.25,2.24,12236594,-13.2,1872.6,33.7,1801.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56106,New York,2020-04-11,395949,296748.50,4.22,9380736,15.0,3163.9,47.4,2253.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56083,Florida,2020-04-11,181293,163493.75,2.11,8604277,6.7,2757.3,36.5,2694.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56087,Illinois,2020-04-11,141049,158656.25,2.39,5910898,-29.8,1725.2,25.8,1779.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56112,Pennsylvania,2020-04-11,238357,324531.25,4.11,5800562,-14.1,1973.6,20.7,2782.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56109,Ohio,2020-04-11,157218,213501.50,2.94,5338723,-30.5,2903.2,21.3,3545.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56107,North Carolina,2020-04-11,137934,135396.00,3.15,4381417,0.4,4419.5,33.0,4505.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56084,Georgia,2020-04-11,317526,213404.50,7.26,4373059,-18.6,5950.4,57.6,4579.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56096,Michigan,2020-04-11,219320,260053.75,5.10,4302198,-43.6,3831.2,25.9,4653.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56104,New Jersey,2020-04-11,140600,169376.00,3.50,4015146,-34.6,1740.1,24.0,2179.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56122,Virginia,2020-04-11,106723,103216.50,2.86,3731069,-27.6,4622.3,33.7,4684.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56095,Massachusetts,2020-04-11,103040,143140.50,2.90,3557761,-26.2,2207.7,20.0,3313.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56123,Washington,2020-04-11,150516,158631.50,4.51,3333838,-12.1,2069.1,27.4,2531.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56117,Tennessee,2020-04-11,74772,79383.75,2.29,3263988,-33.3,3355.3,29.4,2701.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56088,Indiana,2020-04-11,118184,111030.75,3.89,3039304,-6.9,4886.7,35.2,4570.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56076,Arizona,2020-04-11,97784,87125.00,3.41,2864180,-26.2,1572.1,36.9,1834.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56097,Minnesota,2020-04-11,89634,106190.50,3.13,2859937,-18.7,3096.6,25.2,3347.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56125,Wisconsin,2020-04-11,69884,84168.00,2.45,2851929,-33.3,1392.0,23.8,1491.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56099,Missouri,2020-04-11,95785,83445.00,3.48,2749100,4.7,3291.8,37.9,2684.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56079,Colorado,2020-04-11,105073,58252.75,3.96,2650335,126.8,5058.2,78.9,3241.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56094,Maryland,2020-04-11,60823,74654.25,2.39,2549408,-44.5,2087.9,23.6,2722.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56115,South Carolina,2020-04-11,87686,68140.00,4.22,2077535,1.3,4202.6,45.8,3445.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56074,Alabama,2020-04-11,91079,72423.50,4.73,1923741,-14.7,3725.2,44.5,2873.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56111,Oregon,2020-04-11,50930,47817.50,2.67,1906429,-18.9,1070.3,32.3,1035.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56092,Louisiana,2020-04-11,80045,87626.00,4.23,1892522,-20.4,4141.9,28.5,5033.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56091,Kentucky,2020-04-11,115763,98877.50,6.12,1890475,-1.5,5391.6,40.0,4291.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56080,Connecticut,2020-04-11,33962,31438.25,2.05,1654391,1.5,883.3,32.1,1126.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56110,Oklahoma,2020-04-11,48977,44795.25,3.13,1565634,-19.1,2585.1,35.7,2414.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56089,Iowa,2020-04-11,46356,51867.00,3.03,1530920,-27.8,2424.8,27.0,2570.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56119,Utah,2020-04-11,24171,26358.25,1.66,1459679,-26.8,1672.1,27.7,2460.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56102,Nevada,2020-04-11,60180,75926.25,4.39,1371969,-24.1,2640.4,21.5,3545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56090,Kansas,2020-04-11,30769,39492.00,2.26,1363114,-37.6,2270.5,22.5,2816.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56077,Arkansas,2020-04-11,34635,33438.00,2.90,1195622,-44.2,2287.0,33.1,1762.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56098,Mississippi,2020-04-11,46160,32386.50,4.16,1108618,0.7,4123.2,53.2,3284.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56101,Nebraska,2020-04-11,16391,20967.50,1.70,962725,-39.4,2795.9,22.8,3191.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56113,Puerto Rico,2020-04-11,41829,43481.50,4.91,852292,-37.2,2825.1,30.5,3567.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56105,New Mexico,2020-04-11,19494,22895.00,2.44,799085,-25.4,2291.9,25.5,2628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56086,Idaho,2020-04-11,17817,23812.00,2.45,727996,-42.3,1779.4,21.4,2189.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56124,West Virginia,2020-04-11,14595,11787.00,2.18,670051,0.7,1423.5,41.1,1459.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56103,New Hampshire,2020-04-11,23936,30973.75,3.66,654468,-38.9,4876.3,23.2,6329.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56085,Hawaii,2020-04-11,34693,36301.75,5.58,621949,-34.7,2975.6,29.5,2978.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56093,Maine,2020-04-11,13273,22353.00,2.20,602736,-57.1,1766.8,16.5,3227.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56082,District of Columbia,2020-04-11,9904,13891.00,1.71,578035,-35.4,2263.7,18.5,3319.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56114,Rhode Island,2020-04-11,22805,28673.75,4.82,472874,-19.3,2936.6,23.3,3925.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56100,Montana,2020-04-11,13437,17698.25,2.96,454298,-36.7,1548.7,21.7,2272.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56081,Delaware,2020-04-11,13272,15509.00,2.99,443288,-29.6,2653.5,26.0,3277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56116,South Dakota,2020-04-11,6152,5713.00,1.48,417030,-24.4,7495.1,35.3,4100.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56108,North Dakota,2020-04-11,10378,10745.75,2.52,411624,-31.4,3715.4,30.2,4109.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56075,Alaska,2020-04-11,12752,12240.75,4.15,307329,-12.6,1185.5,31.2,1252.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56120,Vermont,2020-04-11,9478,11092.25,3.12,303508,-42.5,1257.9,24.8,1999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56126,Wyoming,2020-04-11,4904,5374.00,1.83,268518,-25.0,721.4,25.6,1344.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56121,Virgin Islands,2020-04-11,3,112.00,0.01,34238,-95.8,-75.0,-8.4,357.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Which state has the greatest weekly percentage change since virus started?

New Hampshire from Mar. 14-21.

In [27]:
state_claims[
    state_claims['date'] >= virus_date
].sort_values(
    'pct_lastweek', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
55945,New Hampshire,2020-03-21,29379,7852.50,4.49,654468,4476.2,5593.6,1169.1,1144.0,4024.0,4114.00,0.61,2.9,-5.1,0.5,-10.4
55934,Maine,2020-03-21,21459,5917.50,3.56,602736,3284.7,3725.1,702.9,799.0,8703.0,8725.00,1.44,3.0,6.6,0.2,2.1
55955,Rhode Island,2020-03-21,35847,9632.25,7.58,472874,3135.3,4629.2,737.0,1106.3,10857.0,11265.75,2.30,1.5,-5.6,-0.8,-6.5
55933,Louisiana,2020-03-21,72438,19475.00,3.83,1892522,3112.3,4374.2,973.0,1091.5,14143.0,14404.50,0.75,1.1,0.5,-0.9,-1.4
55938,Minnesota,2020-03-21,115773,31670.25,4.05,2859937,2787.1,3394.5,776.9,855.4,66787.0,63257.75,2.34,8.1,15.8,1.8,6.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55855,Vermont,2020-03-07,446,615.50,0.15,303508,-48.3,3.7,-1.2,2.2,5219.0,5015.25,1.72,3.6,-4.2,2.0,-6.1
55843,New York,2020-03-07,14035,18430.00,0.15,9380736,-55.0,1.7,-1.3,2.8,161892.0,167978.50,1.73,-11.4,2.0,-0.2,1.8
56093,Maine,2020-04-11,13273,22353.00,2.20,602736,-57.1,1766.8,16.5,3227.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56068,Virgin Islands,2020-04-04,72,122.25,0.21,34238,-71.2,94.6,1.7,361.3,658.0,586.50,1.92,28.5,80.8,3.2,21.4
56121,Virgin Islands,2020-04-11,3,112.00,0.01,34238,-95.8,-75.0,-8.4,357.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Which state has the greatest yearly percentage change per week since virus started?

Georgia on the week of Apr. 4.

In [28]:
state_claims[
    state_claims['date'] >= virus_date
].sort_values(
    'pct_lastyear', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
56031,Georgia,2020-04-04,390132,135384.25,8.92,4373059,191.5,8304.4,247.2,3015.5,360077.0,130203.25,8.23,233.8,1464.2,180.3,445.0
56051,New Hampshire,2020-04-04,39202,25150.25,5.99,654468,24.9,7787.7,62.5,5022.3,52166.0,21855.00,7.97,90.9,1173.0,120.0,411.0
56116,South Dakota,2020-04-11,6152,5713.00,1.48,417030,-24.4,7495.1,35.3,4100.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55998,New Hampshire,2020-03-28,31378,15473.50,4.79,654468,6.8,7146.7,97.1,2935.5,27321.0,9932.25,4.17,579.0,537.7,141.4,120.5
55982,Indiana,2020-03-28,139174,50937.00,4.58,3039304,132.9,6745.7,204.8,2155.1,28987.0,23456.00,0.95,39.5,60.1,6.8,18.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55822,Illinois,2020-03-07,8727,9391.00,0.15,5910898,-2.8,-24.6,-2.8,8.7,136396.0,133363.75,2.31,3.2,5.6,1.0,0.9
55838,Nebraska,2020-03-07,501,508.25,0.05,962725,-0.2,-30.8,-7.9,-30.0,5581.0,5862.75,0.58,-11.2,-23.2,-0.5,-20.4
55898,Oklahoma,2020-03-14,1836,1593.00,0.12,1565634,17.0,-31.2,3.3,-20.0,16482.0,16936.75,1.05,-3.4,21.8,-1.5,22.6
55846,Oregon,2020-03-07,4154,3972.00,0.22,1906429,5.5,-38.3,-4.8,-27.8,29517.0,30349.25,1.55,-2.1,-15.2,-1.7,-8.0
56121,Virgin Islands,2020-04-11,3,112.00,0.01,34238,-95.8,-75.0,-8.4,357.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Which state has the most people on UI?

Missouri is 19th with 121,467 people on UI.

In [29]:
state_claims[
    state_claims['date'] == '2020-04-04'
].groupby('state').cont_claims.sum().reset_index().sort_values('cont_claims', ascending=False)

                   state  cont_claims
4             California    1076761.0
32              New York     712544.0
38          Pennsylvania     566464.0
35                  Ohio     450061.0
44                 Texas     374656.0
22              Michigan     366426.0
10               Georgia     360077.0
21         Massachusetts     310211.0
49            Washington     309411.0
30            New Jersey     276119.0
13              Illinois     263057.0
23             Minnesota     248023.0
33        North Carolina     245692.0
51             Wisconsin     208387.0
6            Connecticut     147939.0
48              Virginia     133184.0
28                Nevada     131121.0
17              Kentucky     130151.0
25              Missouri     121467.0
37                Oregon     118729.0
18             Louisiana     116690.0
43             Tennessee     116179.0
9                Florida      98921.0
20              Maryland      92112.0
15                  Iowa      91631.0
41        South Carolina      75521.0
5               Colorado      73584.0
14               Indiana      71737.0
2                Arizona      62597.0
40          Rhode Island      56038.0
36              Oklahoma      55029.0
0                Alabama      52176.0
29         New Hampshire      52166.0
16                Kansas      51425.0
39           Puerto Rico      49669.0
45                  Utah      45161.0
31            New Mexico      44829.0
19                 Maine      41339.0
27              Nebraska      38921.0
26               Montana      36819.0
50         West Virginia      36690.0
3               Arkansas      36499.0
12                 Idaho      35915.0
11                Hawaii      32123.0
8   District of Columbia      31385.0
24           Mississippi      29373.0
46               Vermont      21953.0
1                 Alaska      19845.0
7               Delaware      19442.0
34          North Dakota      16036.0
52               Wyoming       7790.0
42          South Dakota       7568.0
47        Virgin Islands        658.0

## States percentage change of total claims per week since the virus started?

In [30]:
state_claims[
    state_claims['date'] >= virus_date
].sort_values(
    'cont_claims_pct_lastweek', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
55998,New Hampshire,2020-03-28,31378,15473.50,4.79,654468,6.8,7146.7,97.1,2935.5,27321.0,9932.25,4.17,579.0,537.7,141.4,120.5
56038,Kentucky,2020-04-04,117575,70633.00,6.22,1890475,3.9,4138.5,68.8,3037.8,130151.0,49945.00,6.88,434.3,619.6,116.2,159.6
56059,Pennsylvania,2020-04-04,277640,268801.75,4.79,5800562,-31.4,2395.2,32.8,2206.2,566464.0,239760.75,9.77,317.4,383.6,81.1,92.1
56043,Michigan,2020-04-04,388554,206558.25,9.03,4302198,27.7,5714.9,86.6,3749.7,366426.0,151360.25,8.52,315.5,413.4,91.2,104.0
55986,Louisiana,2020-03-28,97400,43447.75,5.15,1892522,34.5,5746.3,123.1,2561.4,58027.0,25089.00,3.07,310.3,306.3,74.2,75.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56122,Virginia,2020-04-11,106723,103216.50,2.86,3731069,-27.6,4622.3,33.7,4684.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56123,Washington,2020-04-11,150516,158631.50,4.51,3333838,-12.1,2069.1,27.4,2531.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56124,West Virginia,2020-04-11,14595,11787.00,2.18,670051,0.7,1423.5,41.1,1459.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56125,Wisconsin,2020-04-11,69884,84168.00,2.45,2851929,-33.3,1392.0,23.8,1491.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56126,Wyoming,2020-04-11,4904,5374.00,1.83,268518,-25.0,721.4,25.6,1344.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## States percentage change of total claims from last year per week since the virus started?

In [31]:
state_claims[
    state_claims['date'] >= virus_date
].sort_values(
    'cont_claims_pct_lastyear', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
56031,Georgia,2020-04-04,390132,135384.25,8.92,4373059,191.5,8304.4,247.2,3015.5,360077.0,130203.25,8.23,233.8,1464.2,180.3,445.0
56051,New Hampshire,2020-04-04,39202,25150.25,5.99,654468,24.9,7787.7,62.5,5022.3,52166.0,21855.00,7.97,90.9,1173.0,120.0,411.0
56048,North Carolina,2020-04-04,137422,101795.75,3.14,4381417,-20.2,4277.9,49.5,3479.6,245692.0,90311.75,5.61,226.6,1164.6,166.1,364.1
56039,Louisiana,2020-04-04,100621,68178.50,5.32,1892522,3.3,5976.1,56.9,4030.8,116690.0,50711.75,6.17,101.1,753.7,102.1,260.3
56050,Nebraska,2020-04-04,27054,17068.50,2.81,962725,9.4,4493.2,63.6,2364.8,38921.0,16374.25,4.04,133.9,666.5,103.7,160.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56122,Virginia,2020-04-11,106723,103216.50,2.86,3731069,-27.6,4622.3,33.7,4684.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56123,Washington,2020-04-11,150516,158631.50,4.51,3333838,-12.1,2069.1,27.4,2531.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56124,West Virginia,2020-04-11,14595,11787.00,2.18,670051,0.7,1423.5,41.1,1459.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56125,Wisconsin,2020-04-11,69884,84168.00,2.45,2851929,-33.3,1392.0,23.8,1491.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56126,Wyoming,2020-04-11,4904,5374.00,1.83,268518,-25.0,721.4,25.6,1344.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## What state has the most money in the UI fund?

Missouri is 26th with $1.07 billion.

In [32]:
state_funds.groupby('state').fund_balance.sum().reset_index().sort_values('fund_balance', ascending=False)

                   state  fund_balance
36                Oregon    5054857898
48            Washington    4778075957
21              Michigan    4661100963
9                Florida    4071519600
32        North Carolina    4003197955
37          Pennsylvania    3435423679
4             California    3260789629
29            New Jersey    2888365115
31              New York    2651482639
10               Georgia    2559981541
50             Wisconsin    1971405287
13              Illinois    1946242074
27                Nevada    1940100622
43                 Texas    1934397487
22             Minnesota    1705263924
47              Virginia    1464142254
42             Tennessee    1273986041
20              Maryland    1273594518
34                  Ohio    1264072100
15                  Iowa    1260136829
44                  Utah    1172615481
5               Colorado    1153504105
35              Oklahoma    1116304233
40        South Carolina    1098191332
2                Arizona    1097519502
24              Missouri    1070141101
18             Louisiana    1062227765
16                Kansas     998544728
14               Indiana     895342153
3               Arkansas     846046865
12                 Idaho     713790067
23           Mississippi     710211252
6            Connecticut     706020817
0                Alabama     704456280
38           Puerto Rico     684689388
17              Kentucky     618703897
11                Hawaii     597673732
39          Rhode Island     537929841
8   District of Columbia     521251876
45               Vermont     516158884
19                 Maine     508553554
1                 Alaska     500977665
30            New Mexico     469558927
26              Nebraska     456242980
51               Wyoming     376906230
25               Montana     374979615
28         New Hampshire     307998160
33          North Dakota     225975141
49         West Virginia     191400873
7               Delaware     172630672
41          South Dakota     136388088
46        Virgin Islands      11009944

## How much money does Missouri have in the UI fund?

In [34]:
state_funds[
    state_funds['state'] == 'Missouri'
].groupby('state').fund_balance.sum().reset_index()

      state  fund_balance
0  Missouri    1070141101

## Missouri's reserve ratio?

Missouri is 37th with .98.

In [35]:
state_funds.groupby('state').reserve_ratio.sum().reset_index().sort_values('reserve_ratio', ascending=False)

                   state  reserve_ratio
36                Oregon           6.00
45               Vermont           5.00
38           Puerto Rico           3.87
1                 Alaska           3.79
51               Wyoming           3.62
27                Nevada           3.14
12                 Idaho           2.80
39          Rhode Island           2.76
48            Washington           2.56
11                Hawaii           2.53
19                 Maine           2.50
21              Michigan           2.48
25               Montana           2.25
15                  Iowa           2.15
32        North Carolina           2.12
23           Mississippi           2.04
3               Arkansas           1.94
44                  Utah           1.90
50             Wisconsin           1.76
35              Oklahoma           1.68
16                Kansas           1.68
30            New Mexico           1.63
18             Louisiana           1.41
40        South Carolina           1.40
37          Pennsylvania           1.33
33          North Dakota           1.32
26              Nebraska           1.31
29            New Jersey           1.30
22             Minnesota           1.30
10               Georgia           1.24
8   District of Columbia           1.19
9                Florida           1.08
20              Maryland           1.05
28         New Hampshire           1.02
42             Tennessee           0.98
41          South Dakota           0.98
24              Missouri           0.98
0                Alabama           0.92
17              Kentucky           0.88
2                Arizona           0.87
7               Delaware           0.85
5               Colorado           0.83
49         West Virginia           0.82
47              Virginia           0.80
6            Connecticut           0.78
14               Indiana           0.75
13              Illinois           0.66
34                  Ohio           0.58
31              New York           0.49
4             California           0.32
43                 Texas           0.31
46        Virgin Islands           0.00

In [36]:
state_funds[
    state_funds['state'] == 'Missouri'
].groupby('state').reserve_ratio.sum().reset_index()

      state  reserve_ratio
0  Missouri           0.98

## What week in Missouri has the most claims?

Mar. 28 with 104,291.

In [37]:
missouri_claims.groupby('date').claims.sum().reset_index().sort_values('claims', ascending=False)

            date  claims
1056  2020-03-28  104291
1058  2020-04-11   95785
1057  2020-04-04   91458
1055  2020-03-21   42246
262   2005-01-08   21550
...          ...     ...
1008  2019-04-27    2397
978   2018-09-29    2382
1007  2019-04-20    2381
1027  2019-09-07    2116
880   2016-11-12    1865

[1059 rows x 2 columns]

## What percentage of the workforce do the 2020-04-04 claims represent in Missouri?

3.48%

In [38]:
missouri_claims[
    missouri_claims['date'] == '2020-04-11'
]

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
1058,Missouri,2020-04-11,95785,83445.0,3.48,2749100,4.7,3291.8,37.9,2684.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Percentage of people in Missouri covered by the claims per week since the virus started?

In [39]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').insured_newly_unemployed_rate.sum().reset_index()

         date  insured_newly_unemployed_rate
0  2020-03-07                           0.11
1  2020-03-14                           0.15
2  2020-03-21                           1.54
3  2020-03-28                           3.79
4  2020-04-04                           3.33
5  2020-04-11                           3.48

## Total number of people in Missouri covered by the employment?

2.7 million people.

In [40]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').covered_employment.sum().reset_index()

         date  covered_employment
0  2020-03-07             2749100
1  2020-03-14             2749100
2  2020-03-21             2749100
3  2020-03-28             2749100
4  2020-04-04             2749100
5  2020-04-11             2749100

## Weekly percentage change of claims in Missouri since virus started?

In [41]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').pct_lastweek.sum().reset_index()

         date  pct_lastweek
0  2020-03-07           9.6
1  2020-03-14          34.1
2  2020-03-21         951.9
3  2020-03-28         146.9
4  2020-04-04         -12.3
5  2020-04-11           4.7

## Yearly percentage change of claims per week in Missouri since virus started?

In [42]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').pct_lastyear.sum().reset_index()

         date  pct_lastyear
0  2020-03-07          -1.4
1  2020-03-14          24.2
2  2020-03-21        1087.7
3  2020-03-28        3416.2
4  2020-04-04        3365.6
5  2020-04-11        3291.8

## How many people have filed unemployment claims in Missouri since virus started?

In [44]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].claims.sum()

340790

## Total number of people on UI in Missouri right now?

121,467.

In [45]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').cont_claims.sum().reset_index()

         date  cont_claims
0  2020-03-07      25225.0
1  2020-03-14      22381.0
2  2020-03-21      21538.0
3  2020-03-28      49470.0
4  2020-04-04     121467.0
5  2020-04-11          0.0

## Missouri percentage change of total claims per week since the virus started?

In [47]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').cont_claims_pct_lastweek.sum().reset_index()

         date  cont_claims_pct_lastweek
0  2020-03-07                      -6.4
1  2020-03-14                     -11.3
2  2020-03-21                      -3.8
3  2020-03-28                     129.7
4  2020-04-04                     145.5
5  2020-04-11                       0.0

## Missouri percentage change of total claims from last year per week since the virus started?

In [48]:
missouri_claims[
    missouri_claims['date'] >= virus_date
].groupby('date').cont_claims_pct_lastyear.sum().reset_index()

         date  cont_claims_pct_lastyear
0  2020-03-07                      -5.8
1  2020-03-14                     -13.2
2  2020-03-21                      -7.5
3  2020-03-28                     114.2
4  2020-04-04                     490.6
5  2020-04-11                       0.0